{% extends 'base.html' %}
{% load static %}
<div class="form-detail">
  {% block content %}
    <div class="test-timer">
      <h2 id="timer"></h2>
    </div>
    <form method="post" action="{% url 'question:finalResult' %}">
      
      {% csrf_token %}
      <ul>
        {% for question  in questions  %}
          <li>
         
            {% if question %}
              <p>{{question.label}}</p>
              {% for c in question.choice_set.all  %}<br>
                <input type="radio" name="choice_{{ question.id }}" id="choice{{forloop.counter}}" value="{{c.choice_text}}">
                <label for="choice{{questtion.forloop.counter}}">{{c.choice_text}}</label>
              {% endfor %}      
            {% endif %}
          </li>
        {% endfor %}
      <ul>
      <button id="url" type="submit">submit</button>
    </form>
  {% endblock content %}

</div>