body {
    margin: 10px;
    max-width: 1400px;
    padding: 50px;
}

.mytitle {
    position: absolute;
}

li {
    line-height: 10px;
    padding-top: 20px;
}

a {
    color: black;
    font-weight: 600;
    text-decoration: none;
}

a:hover {
    transform: scale(1.4em);
}

.button a {
    margin: 20px;
    float: right;
    background-color: green;
    padding: 10px;
    color: #ffffff;
}

.description {
    text-align: justify;
}

nav {
    position: fixed;
    top: 10px;
    width: 50px;
}